*{
    margin: 0;
    padding: 0;

}
body{
    background-image: linear-gradient(to bottom right , red ,blue);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

}
.container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
h3{
    text-align: center;
    padding: 50px;
    font-size: 40px;
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input input{
    width: 27.5%;
    height: 40px;
    border: 8px solid lightgreen;
    font-size: 25px;
    padding-left: 10px;
    border-radius:8px;
}
.input button{
    width: 10%;
    height: 55px;
    background-color: green;
    border-radius: 8px;
    border: 2px solid lightgreen;
}
.table{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.table table{
    width: 100%;
}
.table table tr{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table table td{
    width: 28.8%;
    background-color: lightgreen;
    height: 55px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 110px;
}
.table table #btn{
    width: 9%;
    background-color: lightgreen;
    height: 55px;
    border-radius: 8px;
}
.new-btn{
    width: 11%;
    height:55px;
    border-radius: 8px;
    background-color: red;
}
.error {
    font-size: 40px;
}
